name: Java web application demo1
on: 
  pull_request:
    types:
    - opened
    - labeled
    - unlabeled
#    - edited

  workflow_dispatch:
 # push: 
  
jobs:
  build:
    runs-on: ubuntu-latest
    # # Only run if label or commit message condition is met
    # if: |
    #   contains(github.event.head_commit.message, '[deploy]') ||
    #   (github.event_name == 'pull_request' && (
    #     contains(toJson(github.event.pull_request.labels), 'deploy')
    #   )) 
    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: build maven 
        run: mvn -B clean install -f pom.xml
      - name: Sonarqube scan
        env: 
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn sonar:sonar
        
      # - name: Upload Artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: java-web-app-1.0
      #     path: target/*.war
      
