name: Events Demo 1
on: 
  pull_request:
    types:
    - opened
#    - edited
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4
      
