name: Java web application demo
on: 
  pull_request:
    types:
    - opened
#    - edited
  workflow_dispatch:
  push: 
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: build maven 
        run: mvn -B clean install -f pom.xml
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: java-web-app-1.0
          path: target/*.war
      
