name: java web application demo
on:
  pull_request:
    types:
      - opened
  #    - closed
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4
      
