name: Java web application demo1
on: 
  pull_request:
    types:
    - opened
    - labeled
    - unlabeled
#    - edited

  workflow_dispatch:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    # # Only run if label or commit message condition is met
    # if: |
    #   contains(github.event.head_commit.message, '[deploy]') ||
    #   (github.event_name == 'pull_request' && (
    #     contains(toJson(github.event.pull_request.labels), 'deploy')
    #   )) 
    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: build maven 
        run: mvn -B clean install -f pom.xml
      # SonarQube Scanner configuration
      # - name: Sonarqube scan
      #   env: 
      #     SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #   run: mvn sonar:sonar

    # Login to DockerHub using secrets for credentials
      - name: Login to DockerHub
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
    # Build Docker image with a specific tag
      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/java-web-application .
    # Push the built image to DockerHub
      - name: Push to DockerHub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/java-web-application:latest
        
      # - name: Upload Artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: java-web-app-1.0
      #     path: target/*.war

    # Deploy job
  Deploy:
    needs: build
    runs-on: [aws-ec2]
    # Steps to be executed in the Deploy job
    steps:
      # Configure Aws Credentials
      - name: Configure Aws credentials
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: SSH into EC2 and deploy container
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}
      - name: Deploy to EC2
        run: |
             ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
        
      # Pull the latest Docker image from DockerHub
      - name: Login to DockerHub
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
      - name: Pull the Docker Image
        run: docker pull ${{ secrets.DOCKER_USERNAME }}/java-web-application:latest 
      - name: Delete old container
        run:  docker rm -f maven-web-application
             # docker stop maven-web-application
      # Run a new container from the pulled image
      - name: Run the Container
        run: docker run -d -p 8080:8080 --name java-web-application ${{ secrets.DOCKER_USERNAME }}/java-web-application:latest
      
